#savedRecipes:hover {
    font-weight: 900;
}
#linkedRecipes:hover {
    font-weight: 900;
}
#accordion1 {
    max-height: 500px;
}

#accordion2 {
    max-height: 1000px;
}

#savedMessage:hover {
    font-weight: 300;
    color: #0000FF;
}

#linkedMessage:hover {
    font-weight: 300;
    color: #0000FF;
}